
#primary-footer{
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  pointer-events: none;
 }

 #footer-button {
  color: #ad1515;
  background-color: transparent;
  border: none;
  pointer-events: auto;
 }