
#primary-header {
  display: flex;
  padding-top: 5 rem;
  height: 45 rem;
  color: #545149;
  background-color: #d1a547;
  align-items: center;
  flex-direction: column;

  background-image: url(http://www.transparenttextures.com/patterns/brick-wall.png);
 }

 #primary-header img {
  margin-top: 1.5em;
 }
