
#tweets-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f1ec;
  border: 3px solid #545149;
  border-radius: 15px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

article header {
  display: flex;
  padding: 1rem;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
}

article footer {
  display: flex;
  width: 98%;
  font-size: 8px;
  padding: 0.5rem;
  justify-content: space-between;
  border-top: 3px solid #545149;
}

.account {
  color: lightgrey;
}

.content {
  font-weight: bold;
  font-size: 12px;
  width: 95%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: visible;
  overflow-wrap: break-word;
}

.icons {
  color: #4056A1;
  list-style: none;
}

li {
  display: inline-block;
}

.tweet-container article:hover {
  box-shadow: 10px 5px 5px lightgrey;;
}

article footer [class^="fa-"]:hover  {
  color:darkgoldenrod
}

.clicked {
  color: gold;
}