
  form {
      /* change display on click */
    display: none;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }

  textarea {
    border: 0px;
    background: transparent;
    border-bottom: 3px solid #545149;
  }

  #submit-button {
    color: #FFFFFF;
    background-color: #4056A1;
  }

  .button-counter {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-content: center;
    font-family: Bungee, sans-serif;
  }

  .counter {
    align-self: center;
  }

  #error-popup{
    display: none;
    border: 3px solid #ad1515;
    color: #ad1515;
    justify-content: center;
    margin-bottom: 10px;
  }


